*{
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
  scroll-behavior: smooth;
  
}
body {
  overflow-x: hidden;
  overflow-y: auto;
  font-family: 'Cinzel','Source Sans Pro','Roboto','Montserrat','League Spartan','sans-serif';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul>li,a{
  list-style-type : none !important;
  color:black;
  text-decoration: none;
}
ul>li,a:hover{
  color:#DE3163;
  transition: color 0.4s;
}

